main {
    padding: 50px;
    width: auto;
    max-width: 1200px;
    margin: 75px auto 0;
    background-color: #ebf3fa;
    border-radius: 2px;
    -webkit-box-shadow: 0px 9px 16px -4px rgba(52, 58, 64, 0.93);
    -moz-box-shadow: 0px 9px 16px -4px rgba(52, 58, 64, 0.93);
    box-shadow: 0px 9px 16px -4px rgba(52, 58, 64, 0.93);
}

.btn-list-btn {
    margin: 0 5px;
}